<gsap-wrapper-presentation>
  <ng-container description>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatum cumque ex maiores eaque, culpa officia
      ducimus ipsum illo optio? Velit quos earum exercitationem inventore deserunt eaque laudantium deleniti iste.
    </h3>
  </ng-container>
  <ng-container example>
    <div class="example-view">
      <div class="example-view__btns">
        <button (click)="play()">Play</button>
        <button (click)="pause()">Pause</button>
        <button (click)="resume()">Resume</button>
        <button (click)="reverse()">Reverse</button>
        <button (click)="restart()">Restart</button>
      </div>
      <div class="example-view__box">
        <div class="box green"></div>
      </div>
    </div>
  </ng-container>
  <ng-container code></ng-container>
</gsap-wrapper-presentation>
