<gsap-wrapper-presentation>
  <ng-container description>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatum cumque ex maiores eaque, culpa officia
      ducimus ipsum illo optio? Velit quos earum exercitationem inventore deserunt eaque laudantium deleniti iste.
    </h3>
  </ng-container>
  <ng-container example>
    <div class="example-view">
      <div class="box green"></div>
    </div>
  </ng-container>
  <ng-container code>
  </ng-container>
</gsap-wrapper-presentation>
